  <body class="background">

    <div class="grey-first-line">
      <nav>
        <div class="grey-Navbar-background">
          <ul>
            <li><div class="grey-logo"></li>
            <li><div class="grey-home"></li>
            <li><div class="grey-about"></li>
            <li><div class="grey-portfolio"></li>
            <li><div class="grey-workshops"></li>
            <li><div class="grey-contact"></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="grey-second-line">
      <div class="grey-Red-star">
      </div>
    </div>

    <div class="grey-third-line">
      <div class="grey-small-red-bar">
      </div>
      <div class="grey-Welcome">
      </div>
      <div class="right grey-small-red-bar">
      </div>
    </div>

    <div class="grey-fourth-line">
        <div class="grey-text-badges">
        </div>
    </div>

    <div class="grey-fifth-line">
      <div class="grey-medium-red-bar">
      </div>
    </div>

    <div class="grey-sixth-line">
      <div class="grey-first-header">
      </div>
    </div>

    <div class="grey-seventh-line">
      <div class="grey-slider">
      </div>
    </div>

    <div class="grey-eight-line">
      <div class="grey-button">
      </div>
    </div>

    <div class="grey-ninth-line">
      <div class="grey-medium-red-bar">
      </div>
    </div>

    <div class="grey-tenth-line">
      <div class="grey-second-header">
      </div>
    </div>

    <div class="grey-eleventh-line">
      <div class="grey-bottom-text">
      </div>
    </div>

    <div class="grey-twelfth-line">
      <div class="grey-large-red-bar">
      </div>
    </div>

    <div class="grey-13th-line">
      <div class="grey-footer-text">
      </div>
    </div>

    <div class="footer">
      <div class="grey-copyright-text">
      </div>
    </div>
  <!--
    <div class="grey-Robo-badge"></div>
    <div class="grey-Tools-badge"></div>
  -->

