
  <body class="background">

    <div class="grey-first-line">
      <nav>
        <div class="grey-Navbar-background">
        </div>
      </nav>
    </div>

    <div class="grey-second-line">
      <div class="grey-Red-star">
      </div>
    </div>

    <div class="grey-third-line">
      <div class="grey-small-red-bar">
      </div>
      <div class="grey-Welcome">
      </div>
      <div class="right grey-small-red-bar">
      </div>
    </div>

    <div class="grey-fourth-line">
      <div class="grey-Robo-badge">
      </div>
      <div class="grey-top-text">
      </div>
      <div class="grey-Tools-badge">
      </div>
    </div>

    <div class="grey-fifth-line">
      <div class="grey-medium-red-bar">
      </div>
    </div>
  <!--
    <div class="grey-Robo-badge"></div>
    <div class="grey-Tools-badge"></div>
  -->

