<h5 class="date">06/27/2013</h5>
<article>
  <p class="blog-text"><span class="capital_letter">A</span>pplying for the <span class="italics"><a>design apprenticeship</a></span> was certainly the best decision for becoming a better craftsman. The high value <span class="italics">smashbot</span> puts into learning and educating each other creates an excellent environment for expanding your
knowledge and to professionalize your skills. 
  </p>
</article>
