<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<link rel="stylesheet" href="http://basehold.it/30">
  <%= csrf_meta_tags %>
</head>

<%= yield %>

</body>
</html>


